footer
    margin-top 50px
    +tablet()
        margin-top 40px
    +mobile()
        margin-top 25px
    .btn-topo
        position relative
        display block
        margin-left auto
        width 45px
        height 45px
        background #F5F5F5
        border 1px solid $cinzaLinha
        margin-bottom 10px
        text-align center
        opensans 11
        padding-top 25px
        color $texto
        transition background .3s, border .3s
        &:hover
            background #fff
            border-color $texto
        &:after
            content ''
            width 1px
            height 10px
            background $texto
            position absolute
            left 21px
            top 9px
        &:before
            content ''
            position absolute
            width 7px
            height 7px
            border-top 1px solid $texto
            border-left 1px solid $texto
            transform rotate(45deg)
            top 9px
            left 18px
    .quadros
        display flex
        +mobile()
            display block
        .quadro
            position relative
            border 1px solid rgba($cinzaLinha, .7)
            margin-right 10px
            padding 10px
            &:last-child
                margin-right 0
                flex 1
            +below($tablet)
                &:nth-child(2)
                &:nth-child(3)
                    display none
            +mobile()
                width 100%
                margin 0
                + .quadro
                    margin-top 10px
    .social
        position absolute
        top 10px
        right 10px
        font-size 0
        a
            width 16px
            height 16px
            display inline-block
            text-indent -9999px
            + a
                margin-left 5px
            &.facebook
                background $img('facebook.png') no-repeat center
            &.instagram
                background $img('instagram.png') no-repeat center
    .informacoes
        opensans 12
        color $cinzaTexto
        p
            margin 0
            padding-left 20px
        .telefone
        .email
            display inline-block
        .telefone
            background $img('telefone.png') no-repeat 1px 3px
        .email
            margin-left 15px
            background $img('carta-contato.png') no-repeat left 4px
            a:hover
                color #000
            +mobile()
                display block
                margin 6px 0 0
        .endereco
            display block
            width 100%
            margin 6px 0
            background $img('endereco.png') no-repeat 3px 2px
        .atendimento
            font-size 10px
            background $img('horario.png') no-repeat 1px 1px
    .links
        a
            position relative
            display block
            opensans 12
            color $cinzaTexto
            + a
                margin-top 5px
            &:hover
                color #000
            &:before
                content '\2022'
                margin-right 4px
                color $cinzaTexto
    .marca
        display flex
        justify-content space-between
        align-items center
        min-height 64px
        padding 20px 0
        color $cinzaTexto
        .cnpj
            opensans 10
            margin 0
        .whatsapp
            opensans 12
            margin 10px 0 0
            span
                background $img('whatsapp.png') no-repeat left center
                padding-left 18px
        .acessibilidade
            opensans 10
            margin-bottom 0
            display flex
            align-items center
            img
                width 20px
                margin 0
                margin-right 5px
        +mobile()
            display block
            padding-bottom 15px
            img
                margin 20px 0 10px
            .whatsapp span
                display block
    .copyright
        border-top 1px solid $cinzaLinha
        padding 15px 0
        p
            opensans 10
            margin 0
            text-align center
            color $cinzaTexto
            a:hover
                color #000
            +mobile()
                font-size 9px
                span
                    font-size 0
                    display block
