header
    margin-bottom 15px
    .informacoes
        border-bottom 1px solid $cinzaLinha
        display flex
        padding 5px 20px
        opensans 12
        color $cinzaTexto
        .telefone
        .email
            display inline-block
        .telefone
            background $img('telefone.png') no-repeat left 2px
            padding-left 14px
        .email
            margin-left 15px
            background $img('carta-contato.png') no-repeat left 2px
            padding-left 17px
            &:hover
                color #000
        .social
            margin-left auto
            font-size 0
            a
                width 16px
                height 16px
                display inline-block
                text-indent -9999px
                + a
                    margin-left 5px
                &.facebook
                    background $img('facebook.png') no-repeat center
                &.instagram
                    background $img('instagram.png') no-repeat center
        +mobile()
            padding 5px 0
            align-items center
            .email
                display block
                margin-left 0
                margin-top 3px
    .marca
        border-bottom 1px solid $cinzaLinha
        padding 20px
        display flex
        align-items flex-end
        +mobile()
            padding 20px 0
        .logo
            width 183px
            height 50px
            background $img('colchaostore.png') no-repeat center
            text-indent -9999px
            margin-right auto
            +mobile()
                width 150px
                height 41px
                background-size 100% auto
        .botoes
            padding-bottom 6px
            font-size 0
            display flex
            +mobile()
                padding-bottom 0
            .btn-carrinho
                display inline-block
                height 20px
                padding-right 28px
                background $img('carrinho.png') no-repeat right center
                span
                    display inline-block
                    background #666666
                    color #ffffff
                    opensans 13
                    padding 2px 6px
                    border-radius 3px
                    transform translateY(1px)
            .btn-busca
                width 20px
                height 20px
                display inline-block
                background $img('busca.png') no-repeat center
                margin-left 20px
                +mobile()
                    margin-left 10px
    .secoes
        display flex
        justify-content space-between
        padding 0 20px
        position relative
        +below($tablet)
            display none
        .secoes-btn
            height 34px
            > a
                opensans 12
                line-height 34px
                color $texto
                text-transform uppercase
                position relative
                &:after
                    content 'v'
                    position absolute
                    right -9px
                    transform translateY(-1px)
                    opensans 8
                    color #000 !important
                    opacity 0
                    transition opacity .3s
                &:hover:after
                &.active:after
                    opacity 1
                &.active
                    font-weight 700
            &:hover > .secoes-dropdown
                visibility visible
                opacity 1
                top 32px
        .secoes-dropdown
            visibility hidden
            opacity 0
            transition all .2s
            width 100%
            padding 10px
            background #fff
            border 1px solid rgba($cinzaLinha, .7)
            box-shadow 0 8px 18px rgba(#000, .2)
            position absolute
            left 0
            top 42px
            z-index 105
            display flex
            .categorias
                width 230px
                padding 20px 20px 10px 10px
                a
                    display block
                    opensans 14 bold
                    color $cinzaTexto
                    text-transform uppercase
                    + a
                        margin-top 8px
                    &:hover
                        color $texto
            .produto-destaque
                display flex
                flex 1
                background #ECECEC
                align-self flex-start
                img
                    display block
                .textos
                    padding-left 40px
                    padding-top 40px
                    p
                        color #666
                        margin 0
                        &.linha
                            opensans 10
                        &.titulo
                            opensans 14 bold
                        &.legenda
                            opensans 24
                        &.valor
                            display inline-block
                            opensans 10
                            margin-top 10px
                            position relative
                            padding-right 40px
                            &:after
                                content ''
                                position absolute
                                right 0
                                bottom 6px
                                width 0
                                height 0
                                border-style solid
                                border-width 6px 0 6px 12px
                                border-color transparent transparent transparent #666
                            strong
                                display block
                                opensans 20
                                line-height 1.2
            .marcas-dropdown
                width 100%
                display flex
                flex-wrap wrap
                padding 10px 10px 5px
                a
                    display block
                    padding 0 10px 5px
                    width 16.667%
                    opensans 14 bold
                    color $cinzaTexto
                    text-transform uppercase
                    &:hover
                        color $texto

.modal-busca
    display none
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background rgba(#000, .85)
    z-index 9999
    cursor pointer
    form
        width 700px
        height 64px
        background #fff
        border-radius 4px
        margin 50px auto 0
        position relative
        +below($tablet)
            max-width 600px
            width 80%
        input[type='text']
            width calc('100% - 65px')
            height 100%
            border 0
            outline 0
            padding 0 25px
            opensans 18
            color $roxo
            margin-left 5px
            +mobile()
                padding 0 15px
        input[type='submit']
            width 60px
            height 100%
            position absolute
            right 0
            top 0
            background $img('busca.png') no-repeat center transparent
            border 0
            outline 0
            text-indent -9999px
            cursor pointer

#mobile-toggle
    +above($tablet)
        display none
    display block
    background-color transparent
    border 0
    position relative
    height 20px
    width 28px
    outline 0
    padding 0
    cursor pointer
    margin-left 30px
    +mobile()
        margin-left 15px
    .lines
        display block
        width 100%
        height 4px
        background #666666
        position relative
        transition .3s ease
        border-radius 2px
        &:before
        &:after
            content ""
            display block
            position absolute
            left 0
            width 100%
            height 4px
            border-radius 2px
            background #666666
            transition .3s ease
        &:before
            top 8px
        &:after
            top -8px
    &.close
        .lines
            background transparent
            &:before
            &:after
                transform-origin 50% 50%
                top 0
            &:before
                transform rotate3d(0,0,1,45deg)
            &:after
                transform rotate3d(0,0,1,-45deg)

#nav-mobile
    display none
    text-align right
    padding 20px 20px 10px
    +above($tablet)
        display none !important
    +mobile()
        padding 15px 0 10px
    > div + div
        margin-top 5px
    a
        opensans 14
        color #666
        text-transform uppercase
    .mobile-cat-toggle
        display inline-block
        width 14px
        height 14px
        background $cinzaTexto
        margin-left 4px
        transform translateY(2px)
        cursor pointer
        position relative
        border-radius 2px
        &:after
        &:before
            content ''
            position absolute
            width 8px
            height 2px
            background #fff
            top 6px
            left 3px
        &:after
            transform rotate(90deg)
            transition all .3s
        &.open:after
            transform rotate(0deg)
    .mobile-categorias
        display none
        margin-top 3px
        margin-bottom 18px
        a
            opensans 13
            padding-right 23px
            color $cinzaTexto
            display block
            text-transform uppercase
            + a
                margin-top 3px
