.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%

.breadcrumb
    background #F5F5F5
    margin-bottom 40px
    padding 10px 13px
    opensans 12
    color $texto
    font-style italic
    span
        margin 0 6px
    a:hover
        color #000
    +mobile()
        margin-bottom 20px

.load-next-wrapper
    text-align center

.load-next
    display inline-block
    background #F5F5F5
    border 1px solid $cinzaLinha
    cursor pointer
    color $texto
    transition background .3s, border .3s
    outline 0
    opensans 13 bold
    padding 12px 20px
    &:hover
        background #fff
        border-color $texto
    +mobile()
        font-size 11px
        padding 8px 16px
