.banners-cycle
    width 100%
    height 400px
    overflow hidden
    position relative
    +tablet()
        height 300px
    +mobile()
        height 250px
.banners-cycle-pager
    position absolute
    bottom 12px
    right 12px
    width 320px
    height 6px
    display flex
    justify-content space-between
    z-index 102
    +below($tablet)
        display none
    a
        display block
        flex 1
        margin 0 2px
        background #fff
        height 100%
        text-indent -9999px
        transition background .3s
        &.cycle-pager-active
            background #CBCBCB
.banner-slide
    position absolute
    width 100%
    height 100%
    top 0
    left 0
    background-size cover
    background-position center
    .textos
        background rgba(#a7a7a7, .9)
        position absolute
        width 100%
        bottom 0
        left 0
        padding 15px 45px
        color #fff
        display flex
        justify-content left
        min-height 50px
        +below($tablet)
            min-height 0
        +mobile()
            flex-direction column
            padding 15px
        .col
            display flex
            flex-direction column
            margin-left 45px
            &:first-child
                margin-left 0
            +mobile()
                margin-left 0
                margin-top 10px
                &:first-child
                    margin-top 0
                &:last-child
                    display none
            span
                display block
                &:last-child
                    margin-bottom 0 !important
                &.texto-1
                    opensans 10
                    margin-bottom 5px
                &.texto-2
                    opensans 14 bold
                    margin-bottom 5px
                &.texto-3
                    opensans 24
                &.a-partir
                    margin-top auto
                    opensans 10
                    strong
                        display block
                        opensans 20
                +mobile()
                    &.texto-2
                        font-size 13px
                    &.texto-3
                        font-size 17px
                    &.a-partir strong
                        font-size 16px
            .seta-link
                width 12px
                height 12px
                margin-top auto
                position relative
                transform translateY(-3px)
                +mobile()
                    display none
                &:after
                    content ''
                    position absolute
                    top 0
                    left 0
                    width 0
                    height 0
                    border-style solid
                    border-width 6px 0 6px 12px
                    border-color transparent transparent transparent #fff

.destaques-home
    margin-top 55px
    h3
        opensans 30
        color $texto
        text-align center
        font-style italic
        margin-bottom 60px
        span
            padding 0 75px
            position relative
            &:before
            &:after
                content ''
                width 55px
                height 1px
                background $cinzaTexto
                position absolute
                top 50%
                margin-top -1px
            &:before
                left 0
            &:after
                right 0
    .load-next-wrapper
        margin-bottom 30px
    +tablet()
        margin-top 45px
        h3
            font-size 24px
            margin-bottom 50px
    +mobile()
        margin-top 30px
        h3
            font-size 18px
            margin-bottom 35px
            span
                padding 0
                &:before
                &:after
                    display none

.marcas
    border-top 1px solid $cinzaLinha
    border-bottom 1px solid $cinzaLinha
    padding 15px 0
    margin 0 auto 55px
    .wrapper
        position relative
        width calc('100% - 40px')
        margin 0 auto
        display flex
        flex-wrap wrap
        justify-content center
    .marca
        width 20%
        padding 15px 30px
        outline 0
        img
            width 100%
            display block
            max-width 205px
            margin 0 auto
    .slick-arrow
        width 16px
        height 16px
        position absolute
        top 50%
        transform translateY(-10px) rotate(45deg)
        border 0
        outline 0
        font-size 0
        background none
        cursor pointer
        opacity .7
        transition opacity .3s
        &:hover
            opacity 1
        &.slick-next
            right -20px
            border-top 2px solid $cinzaTexto
            border-right 2px solid $cinzaTexto
        &.slick-prev
            left -20px
            border-bottom 2px solid $cinzaTexto
            border-left 2px solid $cinzaTexto
    +tablet()
        margin-bottom 45px
        padding 10px 0
        .marca
            width 25%
            padding 10px 20px
    +mobile()
        margin-top 10px
        margin-bottom 30px
        padding 10px 0
        .marca
            width 50%
            padding 10px 10px

.newsletter
    p
        margin 0 0 12px
        text-align center
        opensans 16
        font-style italic
        color $cinzaTexto
    form
        width 100%
        max-width 695px
        margin 0 auto
        font-size 0
    input[type=text]
    input[type=email]
        width calc('50% - 55px')
        margin-right 10px
        opensans 14
        color $texto
        background #F5F5F5
        height 30px
        border 0
        outline 0
        border 1px solid #F5F5F5
        vertical-align top
        padding 0 10px
    input[type=submit]
        vertical-align top
        width 90px
        background #F5F5F5
        border 1px solid $cinzaLinha
        height 30px
        opensans 14 bold
        color $cinzaTexto
        cursor pointer
        outline 0
        transition background .3s
        &:hover
            background #fff
    .response
        display none
        opensans 11
        letter-spacing 1px
        text-align center
        color $texto
        border 1px solid rgba($cinzaLinha, .7)
        margin-top 5px
        padding 10px
    +mobile()
        p
            font-size 14px
            text-align left
        input
            width 100% !important
            display block
            margin 0
            + input
                margin-top 5px
