.orcamento
    clearfix()
    color $texto
    h1
        opensans 20 bold
        margin 0 0 1em
        text-transform uppercase
        clearfix()
        +above($tablet)
            max-width 69.5%
        a
            float right
            display inline-block
            background #F5F5F5
            border 1px solid $cinzaLinha
            cursor pointer
            color $texto
            transition background .3s, border .3s
            outline 0
            opensans 11 bold
            padding 8px 16px
            &:hover
                background #fff
                border-color $texto
            +mobile()
                float none
                display block
                max-width 185px
                margin-top 10px
    p.enviado
        opensans 16 bold
        margin 0
        color $texto
        +mobile()
            font-size 15px
    .left
        width 69.5%
        float left
        +below($tablet)
            width 100%
    .table-wrapper
        width 100%
        overflow-x auto
        table
            border-collapse collapse
            width 100%
            td
            th
                border 1px solid $cinzaLinha
            th
                color $cinzaTexto
                opensans 8
                text-transform uppercase
                font-style italic
                text-align left
                padding 5px 3px
                white-space nowrap
            tfoot
                td
                    padding 12px
                    &:first-child
                        text-align right
                        opensans 12
                        text-transform uppercase
                    &:last-child
                        opensans 16 bold
                        text-align center
            tbody
                td
                    padding 12px
                    &:nth-child(1)
                        width 178px
                        +tablet()
                            width 154px
                        +mobile()
                            width 109px
                        a
                            display block
                            width 152px
                            +tablet()
                                width 130px
                            +mobile()
                                width 85px
                            img
                                width 100%
                                display block
                    &:nth-child(2)
                        opensans 16
                        padding 22px
                        position relative
                        min-width 200px
                        +tablet()
                            font-size 15px
                            padding 12px
                        +mobile()
                            font-size 14px
                            padding 12px
                        form
                            position absolute
                            top 5px
                            right 5px
                            margin 0
                            padding 0
                            display block
                            width 15px
                            height 15px
                            input
                                width 15px
                                height 15px
                                background #C5C5C5
                                color #fff
                                border 0
                                outline 0
                                cursor pointer
                                transition background .3s
                                padding 0
                                position absolute
                                opensans 10 bold
                                top 0
                                left 0
                                border-radius 3px
                                &:hover
                                    background $texto
                    &:nth-child(3)
                    &:last-child
                        width 128px
                        min-width 110px
                        text-align center
                        opensans 16
                    &:nth-child(4)
                        width 45px
                        padding 5px
                        input
                            width 35px
                            border-radius 3px
                            border 1px solid $cinzaLinha
                            opensans 11 bold
                            text-align center
                            color $texto
                            padding 5px
                            outline 0
    .cotacao-frete
        padding-top 30px
        color $texto
        p
            opensans 16
            margin 0
            small
                font-size 12px
            &.frete-resultado
                font-weight 700
                margin-top 2px
        input
            opensans 16 bold
            color $cinzaTexto
            border 1px solid $cinzaLinha
            padding 5px 8px
            border-radius 3px
            margin-left 5px
            outline 0
            width 105px
        +tablet()
            padding-top 20px
        +mobile()
            padding-top 15px
            p
                opensans 14
            input
                display block
                margin 5px 0 0
    .form-orcamento
        width 28.75%
        float right
        +below($tablet)
            width 100%
            float left
            margin-top 25px
            max-width 400px
        background #F5F5F5
        padding 20px
        p
            opensans 15
            color #666
            line-height 1
            margin 0 0 1em
            &.enviado
                opensans 16 bold
                text-align center
                padding 1em 0
                margin 0
                +mobile()
                    font-size 15px
        input
        textarea
            width 100%
            display block
            background #fff
            border 0
            outline none
            margin-top 5px
            opensans 14
            font-style italic
            color $texto
            +placeholder()
                color $cinzaTexto
        input
            height 32px
            padding 0 10px
            &[type=submit]
                height 50px
                background #666
                color #ffffff
                opensans 14 bold
                font-style normal
                cursor pointer
                transition background .3s
                &:hover
                    background lighten(#666, 5)
        textarea
            height 80px
            padding 10px
            resize none
        .input-arquivo
            width 100%
            display block
            height 46px
            background #fff
            text-align center
            line-height 46px
            opensans 14
            color $texto
            font-style italic
            margin-top 5px
            cursor pointer
            position relative
            +mobile()
                font-size 13px
            span
                display block
                width calc('100% - 20px')
                white-space nowrap
                overflow hidden
                text-overflow ellipsis
                margin 0 auto
                &.ativo
                    font-weight bold
            input
                width 100%
                height 100%
                position absolute
                top 0
                left 0
                z-index -1
        .erros
            background #c55858
            margin-top 5px
            color #ffffff
            padding 10px
            opensans 13
            text-transform uppercase
            line-height 1.5
        +mobile()
            width 100%
